.content .info-div{
	padding:3px 0;
	margin-bottom:5px;
}

.content .info-div .title{
	background: rgb(132, 136, 132);
    border-radius: 10px;
    padding: 2px;
    color: white;
}

.info-div-sbs{
	display:inline-block;
	width: 49%;
}

.info-div-sbs{
	margin-right:1%;
}