footer{
	text-align: center;
	/*need clear:both for the footer if you want it to always be below
	the bottommost middle section content. Without clear both, the footer
	will go beneath the middle content.*/
	clear:both;
	position:fixed;
	/*need to define width because position is fixed*/
	width: 100%;
	top: 100%;
	margin-top: -30.667px;
	/*used -30.667px for bottom margin because the footer height is 28px
	and footer border is 3px, but renders as 2.667px for some reason*/
/*	-webkit-transition: background 1s, border-top 3s;
    -moz-transition: background 1s, border-top 3s;
    transition: background 1s, border-top 3s;*/
}

#footer-content{
	display:inline-block;
	font-family: 'Georgia', Times, "Times New Roman", serif;
	font-size: 10px;
	color: rgba(242, 242, 242, 0.5);
	padding: 9px 0;
	-webkit-transition: all 0.5s ease 0s; /* For Safari 3.1 to 6.0 */
	-moz-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}

#footer-content:hover .footer-link{
	color: rgba(82, 195, 29, 0.8);
	-webkit-transition: all 0.5s ease 0s; /* For Safari 3.1 to 6.0 */
	-moz-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}

.footer-link:link, .footer-link:visited, .footer-link:active{
	color: rgba(242, 242, 242, 0.5);
	text-decoration: none;
}

.footer-link:hover{
	text-decoration: underline;
}

.footer-notice{
	position: absolute;
    color: rgba(255, 255, 255, 0.3);
    font-size: 5px;
    font-family: "Helvetica", 'Helvetica Neue', Arial, sans-serif;
    text-align: right;
    right: 5px;
    bottom: 3px;
    cursor: default;
    -webkit-transition: all 0.25s ease 0s; /* For Safari 3.1 to 6.0 */
	-moz-transition: all 0.25s ease 0s;
	transition: all 0.25s ease 0s;
}

.footer-notice:first-child{
	text-align:left;
	left:5px;
}

.footer-notice:hover{
	color: rgba(88, 88, 88, 0.8);
}