#home{
	font-family: 'Georgia', Times, "Times New Roman", serif;
	letter-spacing: 5px;
	padding-left: 5px;
	padding-right: 10px;
}

header{
	width:100%;
	color: #f2f2f2;
	padding:0;
	border:0;
	margin:0;
	border-bottom: 1.5px solid rgba(255, 255, 255, 0.2);
	-webkit-transition: background-color 1s, border-bottom 3s; /* For Safari 3.1 to 6.0 */
    transition: background-color 1s, border-bottom 3s;
    /*position relative so can use z-index*/
    position:relative;
    z-index:1;
}

header:hover{
	background-color: rgba(65,65,65,0.85);
	border-bottom: 1.5px solid rgba(48, 15, 45, 0.85);
}

header ul{
	display: inline-block;
	margin:0;
	padding-left:0;
}

.h-li{
	display: inline-block;
	padding: 5px;
	border-radius: 5px;
	-webkit-transition: all 0.5s ease 0s; /* For Safari 3.1 to 6.0 */
	-moz-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}

.h-li:hover{
	border-color: rgba(48, 15, 45, 1);
	color: rgba(65,65,65,0.85);
	background-color: #f2f2f2;
	box-shadow: 0px 0px 10px 8px rgba(0,0,0,0.35);
	cursor: default;
}

.h-li a{
	font-family: "Helvetica", 'Helvetica Neue', Arial, sans-serif;
	color: #f2f2f2;
	text-decoration: none;
}

.h-li:hover a{
	color: rgb(50, 50, 50);
}