/*https://www.w3schools.com/cssref/css_selectors.asp*/
body {
	margin: 0;
	padding: 0;
}

body, html {
	/*height 100% necessary so parallax class can use height 100%*/
    height: 100%;
}

#app{
	/*height 100% necessary so parallax class can use height 100%*/
	height:100%;
}

.welcome-content, .all-content{
	/*height 100% necessary so parallax class can use height 100%*/
	height:100%;
}