.intro{
	/* The image used */
    background-image: url('https://jonathonn.herokuapp.com/assets/images/002.jpg');

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect
    https://www.w3schools.com/howto/howto_css_parallax.asp */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /*so children divs may be positioned absolutely*/
    position: relative;
}

.intro:nth-child(2){
	/*background-image: url("./02.JPG");*/
    background-image: url('https://jonathonn.herokuapp.com/assets/images/001.JPG');
	height: 75%;
}

.intro:nth-child(3){
	background-image: url('https://jonathonn.herokuapp.com/assets/images/01.JPG');
}

.welcome-content{
    position: relative;
    /*header has height with border of 28px*/
    top: -28px;
    font-family: "Helvetica", 'Helvetica Neue', Arial, sans-serif;
}

.welcome-nav{
    text-align: center;
    font-size:25px;
    color: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 21%;
    left: 50%;
    width: 360px;
    margin-left: -180px;
}

#intro-nav a{
    position: relative;
    text-decoration: none;
    padding: 0 7px;
    margin: 3px 5px;
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(35, 25, 35, 0.9);
    border-radius:5px;
    display: inline-block;
    -webkit-transition: all 0.35s ease 0s; /* For Safari 3.1 to 6.0 */
    -moz-transition: all 0.35s ease 0s;
    transition: all 0.35s ease 0s;
}

#intro-nav a:hover{
    background-color: rgba(255, 255, 255, 1);
    color: rgba(15, 5, 15, 1);
    box-shadow: 3px 3px 3px rgba(80, 80, 80, 0.5);
}

/*https://www.w3schools.com/howto/howto_css_tooltip.asp
https://www.w3schools.com/css/css_tooltip.asp*/
#intro-nav a .tooltiptext{
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    font-size:15px;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */
#intro-nav a .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
#intro-nav a:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.welcome-content .content{
    text-align: center;
    font-size:25px;
    color: rgba(250, 250, 250, 0.9);
    font-weight:600;
    position: absolute;
    top: 50%;
    left: 50%;
}

.intro .welcome #one-test{
    position: absolute;
    margin: 0 10%;
    width: 80%;
    min-width: 350px;
    max-height: 250px;
    top:25%;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius:5px;
    overflow: auto;
    color:white;
    text-align: center;
    letter-spacing: 1px;
    font-size: 17px;
    /*make sure animation duration is same as quoteDispTime in welcome component*/
    -webkit-animation: fadeinout 21s linear 0s infinite;
    animation: fadeinout 21s linear 0s infinite;
}

@-webkit-keyframes fadeinout {
  0%,100% { opacity: 0; }
  8%, 92% { opacity: 1; }
}

@keyframes fadeinout {
  0%,100% { opacity: 0; }
  8%, 92% { opacity: 1; }
}

/*not working!
.welcome-content .content:nth-child(2){
    width: 250px;
    margin-top: -10px;
    margin-left: -125px;
}

.welcome-content .content:nth-child(3){
    border: 2px dotted black;
    border-right: none;
    border-left: none;
}*/

.welcome-c1{
    width:400px;
    height:30px;
    line-height:30px;
    margin-top: -15px;
    margin-left: -200px;
}

#welcome-c2{
    width:470px;
    height:60px;
    line-height:28px;
    padding-top:2px;
    margin-top: -30px;
    margin-left: -235px;
}